<h1>Your score is: </h1>
<p>Your score is: <%= @score %></p>

<p>Your word is: <%= @attempt %></p>
<p>Time taken: <%= @time_taken %></p>
<!-- <p>Translation: <%= @translation %></p> -->

<p>Message: <%= @message %></p>

<%= link_to "Another game?", game_path %>
